body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

fieldset {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #007BFF;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
  color: #007BFF;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}

td {
  background-color: #fdfdfd;
}
.download-Report-pdf{
  background-color: blue;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  
cursor:pointer;

}
.download-Report-pdf:hover{
  background-color: #444;
  color: white;
  transition: background-color 0.3s ease;
}